@use "@/styles/components/global.scss" as *;

.pinball-landing-page {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 0px);

    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }

    &.fullscreen {
        .ui-content {
            display: none !important;
        }
    }

    .ui-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        .machine-selection {
            margin-bottom: 1rem;
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 30rem;
                margin-bottom: 0rem;
                margin-right: 1rem;
            }
        }

        .machine-preview {
            width: 100%;
            margin-bottom: 1rem;
            min-height: 500px;

            @include media-breakpoint-up(lg) {
                width: 30rem;
                margin-bottom: 0rem;
                margin-left: 1rem;
                height: 100%;
                min-height: -webkit-fill-available;
            }
        }
    }

    .landing-scene-canvas-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .background-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: -1;
    }

    .machines {
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: repeat(2, 1fr);
        max-height: 600px;
        overflow-y: scroll;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        .machine {
            // margin: 0.5rem;
            padding: 0.5rem;
            // width: calc(50% - 1rem);
            border: 1px solid rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.85rem;
        }
    }

    .scoreboard {
        margin-top: 1rem;
        max-width: 300px;
        width: 100%;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0rem;
            margin-bottom: 0rem;
            display: block;
            position: absolute;
            left: 1rem;
            top: 50%;
            // transform: translateY(-50%);
        }
    }

    .machine-preview-canvas-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        canvas {
            width: 100%!important;
            height: 100%!important;
        }
    }

    .ad-wrap {
        margin-top: 1rem;

        @include media-breakpoint-up(lg) {
            margin-top: 0rem;
            display: block;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .background-wrap {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            // backdrop-filter: blur(8px);
            filter: blur(2px);
        }
    }
}